.job-banner {
    transform: translateX(-100%);
    animation: jobtextAni 0.8s ease forwards;
   }
   @keyframes jobtextAni {
     0% {
       
       transform: translateX(100px);
     }
     100% {
      transform: translateX(0);
     }
   }
   .cookie-p {
    opacity: 0;
     transform: translateX(100%);
     animation: cookieP 0.8s ease forwards ;
     animation-delay: 0.8s; /* Add a 1-second delay */
   }
   
   @keyframes cookieP {
     0% {
         opacity: 0;
       transform: translateX(100px);
     }
     100% {
         opacity: 1;
       transform: translateX(0);
     }
   }